@media(max-width:400px) {
    *{margin: 0;padding: 0;}
    main{
        position: absolute;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    /*área de header da index*/

    header{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }
    div#logo-header{
        width: 60px;
        height: 60px;
        background-color: #ffffff;
        background-image: url("../img/logo.png");
        background-size: 97%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50px;
        margin-left: 5px;
    }
    

    div#whats-header{
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        /*background-image: url("../img/whatsapp.svg");*/
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 50px;
        margin-top: -5px;
        margin-right: 15px;
    }

    /**/
    img#zap{
        width: 50px;
        height: 50px;
    }

    header, h1{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    header, h4{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*---------------------------------*/

    div#navegacao{
        width: 95%;
        height: 80px;
        background-color: #ffffff;
        margin: 40px 10px 10px 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .itens-navegacao{
        width: 25%;
        height: 80px;
        background-color: #ff0017;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pagina{
        text-align: center;
        color: #fff;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
    }
    .pagina:hover{
        text-align: center;
        color: #fff;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: underline;
        padding: 10px;
    }


    div#texto{
        width: 95%;
        height: 80px;
        background-color: #ffffff;
        margin: 20px 10px 10px 10px;
    }

    #texto, p{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    p.chamada{
        color: #ff0017;
        text-align: center;
        margin: 20px 0 0 0;
        font-weight: bold;
    }

    #food{
        width: 95%;
        height: 160px;
        background-image: url("../img/banner.gif");
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 10px 10px 30px 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    #img-food-burger{
        position: absolute;
        width: 165px;
        height: 90px;
        margin: 60px 20px 0 30px;
    }

    #img-food-coca{
        width: 90px;
        height: 180px;
        margin: -30px 0;
    }


    /*FOOTER-------------------------------------------*/

    footer{
        width: 100%;
        height: 170px;
        background-color: #ff0017;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a#acesso-footer{
        width: 50%;
        background-color: #ffffff;
        color: black;
        padding: 5px 10px;
        margin: 20px 0;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    p#footer{
        color: #fff;
    }
    .legal{
        width: 95%;
        margin: 10px 2,5%;
    }

     /*FOOTER-------------------------------------------*/

     /***************************ÁREA DA PÁGINA PÃO BOLA****************************/

    header#paobola{
        width: 100%;
        height: 10vh;
        background-color: #ff0017;
        margin: 0 0 30px 0;
    }

    ul{
        display: flex;
        flex-direction: row;
        gap:10px;
        margin-left: 10px;
    }
    li{
        list-style: none;
    }
    a.pbola{
        color: #fff;
        text-decoration: none;
    }

    a.pbola:hover{
        color: #fff;
        text-decoration: underline;
    }

    h1.nomepao{
        font-size: 16px;
        color: #ff0017;
        text-align: center;
        margin: 0 10px;
    }

    .escolhelanche{
        width: 100%;
    }
    .btnescolhe{
        width: 70%;
        background-color: #fbec89;
        margin: 10px 15%;
        color: #ff0017;
        padding: 10px 20px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
    }
    .btnescolhe:hover{
        background-color: #ff0017;
        color: #fbec89;
    }

    div.cardapio{
        width: 66%;
        margin: 10px 17%;
        background-color: #000000;
        padding: 5% 5px;
        border-radius: 0 20px 0 20px ;
    }
    p.ingrediente{
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
    .esconde{
        display: none;
    }


    .rodape{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 90px;
        background-color: #ff0017;
        padding: 10px 0;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }


    /***************************ÁREA DA PÁGINA PÃO BOLA****************************/



    /***************************ÁREA DA PÁGINA ADM.HTML*****************************/


    .container-adm{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ff0017;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input{
        width: 60%;
        height: 30px;
        border: none;
        border-radius: 4px;
        margin: 2px 0;
    }

    .back{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .back:hover{
        color: #fff;
        text-decoration: underline;
        font-size: 18px;
    }

    #admin{
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }



    
    /***************************ÁREA DA PÁGINA ADM.HTML*****************************/


    /*********************************ÁREA DA PÁGINA PLANO.HTML***********************/

    .countdown-container{
        width: 90%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 5%;
        gap: 10px;
        padding-top: 1%;
    }
    .countdown-el{
        width: 25%;
        height: 50px;
        background-color: #ff0017;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        color: #fff;
    }

    h4.plan{
        margin: 10px;
    }

    .beneficios{
        width: 90%;
        margin: 5px 5%;
    }

    #contrate{
        width: 90%;
        margin: 0 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fbec89;
        border-radius: 6px;

    }

    #contratar{
        margin: 20px auto;
        background-color: #ff0017;
        color:#fff;
        padding: 10px 20px;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .back-to{
        height: 20px;
        margin: 5px auto;
        background-color: #ff0017;
        color:#fff;
        padding: 10px 20px;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .rodape-plano{
        bottom: 0;
    }
    
    /*********************************ÁREA DA PÁGINA PLANO.HTML***********************/




    
}/* fim da media quer*/


