@media(max-width:400px) {
    *{margin: 0;padding: 0;}
    body{
        background: rgb(255, 255, 255);
        /*background: linear-gradient(31deg, rgba(253,127,32,1) -30%, rgba(255,255,255,1) 60%);*/
    }
    main.container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #cabecalho{
        width: 100%;
        height: 112px;
        background: blanchedalmond;
        background-image: url('../img/banner.png');
    }


    #wts{
        position: relative;
        width: 10%;
        margin-left: 350px;
        margin-top: 190px;
        transition: transform 1s ease-in-out;
    }

/*ÁREA DO MENU DA PAGINA DOS HAMBURGUERS*/

.navegue{
    width: 100%;
    height: 10vh;
    background-color: #FC2E20;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4px;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid #ffd000;
}
.navegue ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.navegue ul li{
    list-style: none;
    background-color: #FC2E20;
}



.navegue ul li a{
   text-decoration: none;
   color: #ffffff;
   text-align: center;
}

.navegue ul li a:hover{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
 }




/*------------------------------------------------------------------------------------*/
    #baner{
        border-radius: 0 8px 0 8px;
    }
    .rodape{
        width: 100%;
        height: 50px;
        background: #FC2E20;
        padding-top: 10px;
        bottom: 0;
        text-align: center;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Títulos e parágrafos*/
    .principal{
        font-family: 'Bebas Neue';
        font-size: 16px;
        color: #FC2E20;
        text-align: center;
        margin: 20px 0  10px 0;
    }

    .pbola{
        font-family: 'Bebas Neue';
        font-size: 16px;
        color: #FC2E20;
        text-align: center;
        text-decoration: underline;
        margin: 40px 0 30px 0;
    }
    .aviso{
        width: 80%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #000000;
        margin-top: 30px;
        text-align: justify;

    }
    /*-----------------------------------------------------*/

    div.produtos{
        width: 90%;
        height: 120px;
        display: flex;
        background-color: #ffb44a;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px 0 0 0;
    }

    div.escolha{
        width: 227px;
        height: 197px;
        background-color: red;
        border-radius: 4px;
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.escolha a{
        width: 80%;
        height: 19px;
        background-color: rgb(255, 255, 255);
        color:#000000;
        text-decoration: none;
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
        border-radius: 6px;
        font-family: 'Arial';
        font-size: 14px;
        font-weight: bold;
    }

    div.lanche{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btnescolhe{
        width: 290px;
        height: 40px;
        padding: 8px;
        border-radius: 4px;
        border: none;
        margin-bottom: 8px;
        background-color: #FDB750;
        font-size: 14px;
    }
    .btnescolhe:hover{
        background-color: red;
        color:#fff;
    }

    div.cardapio{
        position: relative;
        width: 60%;
        height: 200px;
        background: red;
        border-radius: 8px;
        margin-top: 0;
        margin-bottom: 6px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    div.cardapio p{
        color:#fff;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    p.ingrediente{
        width: 100%;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color:#fff;
        margin: 20px 0 10px 0;
    }

    div.lanche #cod{
        width: 40%;
        height: 30px;
        background: #FAA52D;
        color: #fff;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 30%;
        border: none;
        border-radius: 4px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p.versao{
        text-align: center;
    }
    
}/* fim da media quer*/


